.contenedor{
    padding: 20px;
    height: 100%;
    
}

   .card-img img{
    height: 35%;
    width: 100%;
   }
   
   .card-info {
    padding-top: 10%;
   }

   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px 0px 0px inset;
    display: flex;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s ease-in-out;
    width: 40%;
   }

   .card{
    width: 30%;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
   }

   .card-button span a{
    text-decoration: none;
    color: #252525;
    text-align: center;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }
   