<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<section class="contenedor" *ngIf="product">
    <h2>{{title}}</h2>
    <form action="" #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
        <div class="mesagge succes" *ngIf="status=='success'">
            <span>El producto se ha editado correctamente, puedes verlo <a
                    [routerLink]="['/producto',save_product._id]">aquí</a></span>
        </div>

        <div class="mesagge failed" *ngIf="status=='failed'">
            <span>El producto no se ha podido editar</span>
        </div>
        <h3>Detalles Principales: </h3>
        <!--Table-->
        <div class="principal">
            <div class="card_image" *ngIf="product.imagen">
                <img src="{{url+'get-image/'+product.imagen}}" alt="">
            </div>
            <div class="left-colum">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nombre" name="nombre" #nombre="ngModel" [(ngModel)]="product.nombre"
                        placeholder="Nombre del producto">
                    <label for="nombre">Nombre del producto</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="descripcion" placeholder="Descripción del producto"
                        name="descripcion" #descripcion="ngModel" [(ngModel)]="product.descripcion" required>
                    <label for="descripcion">Descripción del producto</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="categoria" placeholder="Categoria del producto"
                        name="categoria" #categoria="ngModel" [(ngModel)]="product.categoria" required>
                    <label for="categoria">Categoria del producto</label>
                </div>
            </div>
            <div class="right-colum">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="precio" placeholder="Precio del producto" name="precio"
                        #precio="ngModel" [(ngModel)]="product.precio" required>
                    <label for="precio">Precio del producto</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="stock" placeholder="Stock del producto" name="stock"
                        #stock="ngModel" [(ngModel)]="product.stock" required>
                    <label for="stock">Stock del producto</label>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01">Subir Imagen</label>
                    <input type="file" #imagen="ngModel" [(ngModel)]="product.imagen" (change)="fileChangeEvent($event)"
                         class="form-control" id="inputGroupFile01">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <button (click)="mostrarDG('true')" *ngIf="DetallesGenerales=='false'">Mostrar Detalles Generales</button>
        <h3 *ngIf="DetallesGenerales=='true'">Detalles Generales: </h3>
        <button (click)="mostrarDG('false')" *ngIf="DetallesGenerales=='true'">Ocultar Detalles Generales</button>
        <div *ngIf="DetallesGenerales=='true'">
            <div class="left-colum">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="color" placeholder="Color del producto" name="color"
                         [(ngModel)]="product.color" required>
                    <label for="color">Color del producto</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="marca" placeholder="Marca del producto" name="marca"
                         [(ngModel)]="product.marca" required>
                    <label for="marca">Marca del producto</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="camaraf" placeholder="Camara frontal" name="camaraf"
                         [(ngModel)]="product.camaraf" required>
                    <label for="camaraf">Modelo del producto</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="camarap" placeholder="Camara Posterior" name="camarap"
                         [(ngModel)]="product.camarap" required>
                    <label for="camarap">Camara Posterior</label>
                </div>
            </div>
            <div class="right-colum">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="pantalla" placeholder="Tamaño de pantalla" name="pantalla"
                         [(ngModel)]="product.pantalla" required>
                    <label for="pantalla">Tamaño de pantalla</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="bateria" placeholder="Bateria" name="bateria"
                         [(ngModel)]="product.bateria" required>
                    <label for="bateria">Bateria</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="ram" placeholder="Ram" name="ram"
                         [(ngModel)]="product.ram" required>
                    <label for="ram">Ram</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="rom" placeholder="rom" name="rom"
                         [(ngModel)]="product.rom" required>
                    <label for="rom">Rom</label>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <button (click)="mostrarDE('true')" *ngIf="DetallesEspecificos=='false'">Mostrar Detalles Especificos</button>
        <h3 *ngIf="DetallesEspecificos=='true'">Detalles Específicos: </h3>
        <button (click)="mostrarDE('false')" *ngIf="DetallesEspecificos=='true'">Ocultar Detalles Especificos</button>
        <!--Table-->
        <div *ngIf="DetallesEspecificos=='true'">
            <div class="left-colum">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="modeloproducto" placeholder="Modelo del producto" name="modeloproducto"
                         [(ngModel)]="product.modeloproducto" required>
                    <label for="modeloproducto">Modelo del producto</label>
                </div>
                <!--tipopantalla-->
                <div class="form-floating mb-3">
                    <select class="form-select" id="tipopantalla" name="tipopantalla"
                        [(ngModel)]="product.tipopantalla" required>
                        <option selected value="IPS">IPS</option>
                        <option value="OLED">OLED</option>
                        <option value="AMOLED">AMOLED</option>
                        <option value="LCD">LCD</option>
                        <option value="POLED">POLED</option>
                    </select>
                    <label for="tipopantalla">Tipo de pantalla</label>
                </div>
                <!--tipoentrada-->
                <div class="form-floating mb-3">
                    <select class="form-select" id="tipoentrada" name="tipoentrada"
                        [(ngModel)]="product.tipoentrada" required>
                        <option selected value="USB">USB</option>
                        <option value="Carga inalambrica">Carga inalambrica</option>
                        <option value="Jack 3.5">Jack 3.5</option>
                        <option value="Jack 2.5">Jack 2.5</option>
                        <option value="Jack 2.0">Jack 2.0</option>
                        <option value="Tipo C">Tipo C</option>
                        <option value="Micro USB">Micro USB</option>
                    </select>
                    <label for="tipoentrada">Tipo de entrada</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="sistema" placeholder="Sistema Operativo" name="sistemaoperativo"
                         [(ngModel)]="product.sistemaoperativo" required>
                    <label for="sistemaoperativo">Sistema Operativo</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="procesador" placeholder="Procesador" name="procesador"
                         [(ngModel)]="product.procesador" required>
                    <label for="procesador">Procesador</label>
                </div>
            </div>

            <div class="right-colum">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="peso" placeholder="Peso en Kg" name="peso"
                         [(ngModel)]="product.peso" required>
                    <label for="peso">Peso en Kg</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="alto" placeholder="Alto" name="alto"
                         [(ngModel)]="product.alto" required>
                    <label for="alto">Alto</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="ancho" placeholder="Ancho" name="ancho"
                         [(ngModel)]="product.ancho" required>
                    <label for="ancho">Ancho</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="profundidad" placeholder="Profundidad" name="profundidad"
                         [(ngModel)]="product.profundidad" required>
                    <label for="profundidad">Profundidad</label>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <input type="submit" value="Editar producto" [disabled]="!productForm.valid" class="btn btn-success">
                </div>
                <div class="col">
                    <a class="cancelEdit" [routerLink]="['/producto', product._id]" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </div>

    </form>
</section>
