
<section class="contenedor">
    <h1 class="text-center mt-5 mb-2">Esta es una aplicación para ver un catalogo de productos</h1>
    <p class="text-center mt-2 mb-2">Tenemos 2 vistas dínamicas</p>
    <div class="row justify-content-evenly">
        <div class="card col-lg-4 col-md-6 col-sm-6 col-xs-12 m-2 mt-3 shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <h2 class="card-title">Products</h2>
                <p class="card-text">En esta vista podras realizar las siguientes funciones: </p>
                <ul>
                    <li class="card-text">Ver todos los productos almacenados en la base de datos</li>
                    <li class="card-text">Ver un producto en especifico</li>
                    <li class="card-text">Editar un producto</li>
                    <li class="card-text">Eliminar un producto</li>
                    <li class="card-text">Buscar un producto</li>
                </ul>
            </div>
        </div>

        <div class="card col-lg-4 col-md-6 col-sm-6 col-xs-12 m-2 mt-3 shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body ">
                <h2 class="card-title">Create product</h2>
                <p class="card-text">En esta vista podras realizar las siguientes funciones: </p>
                <ul>
                    <li class="card-text">Crear un producto</li>
                </ul>
            </div>

        </div>
    </div>


</section>